@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #050E3C;
  --sidebar: #2B2B2B;
  --sidebar-link: #93C5FD;
  --card-bg: #F0F4F8;

  --text: #2C2C2C;
  --paragraph: #4D4D4D;

  --h1: #111111;
  --h2: #222222;
  --h3: #333333;
  --h4: #444444;
  --h5: #555555;
  --h6: #666666;

  --link: #2563EB;
  --link-hover: #1D4ED8;

  --tag-bg: #3B82F6;
  --tag-text: #FFFFFF;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #FFFFFF;
    --sidebar: #F4F4F4;
    --sidebar-link: #1D4ED8;
    --card-bg: #2C3036;

    --text: #EAEAEA;
    --paragraph: #CCCCCC;

    --h1: #FFFFFF;
    --h2: #EAEAEA;
    --h3: #DDDDDD;
    --h4: #CCCCCC;
    --h5: #BBBBBB;

    --h6: #AAAAAA;

    --link: #64B5F6;
    --link-hover: #90CAF9;

    --tag-bg: #2563EB;
    --tag-text: #FFFFFF;

  }
}

a {
  color: var(--link);
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--link-hover);
}

nav a,
a.resume-link {
  text-decoration: none;
}

nav a {
  color: var(--sidebar-link);
}

nav a:hover {
  color: var(--link-hover);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), Arial, Helvetica, sans-serif;
}

.resume-link {
  color: var(--tag-text);
  background-color: var(--tag-bg);
}


@tailwind base;
@tailwind components;
@tailwind utilities;